@{
    ViewBag.Title = "Контакт!.";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Сотовый</h3>
    </header>
    <p>
        <span class="label">Круглосуточно:</span>
        <span>8-902-7-800-807</span>
    </p>
    <p>
        <span class="label">Видео производство:</span>
        <span>8-987-533-11-41</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Почта</h3>
    </header>
    <p>
        <span class="label">Для новых клиентов:</span>
        <span><a href="mailto:info@phreebie.net">info@phreebie.net</a></span>
    </p>
    <p>
        <span class="label">Техподдержка:</span>
        <span><a href="mailto:admin@phreebie.net">admin@phreebie.net</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Регионы:</h3>
    </header>
    <p>
        Москва<br />
        Электросталь<br />
        Нижний Новгород<br />
        Личные встречи в других городах возможны при оплате дорожных расходов.
    </p>
</section>

<section class="contact">
    <header>
        <h3>Скайп:</h3>
    </header>
    <p>
        <span>
            <script type="text/javascript" src="http://www.skypeassets.com/i/scom/js/skype-uri.js"></script>
            <div id="SkypeButton_Call_phreebie_1">
                <script type="text/javascript">
                    Skype.ui({
                        "name": "call",
                        "element": "SkypeButton_Call_phreebie_1",
                        "participants": ["phreebie"],
                        "imageSize": 24
                    });
                </script>
        </span>
    </p>
</section>
