@{
    ViewBag.Title = "Реклама в Google";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                <b>простота - прозрачность - оптимальность - эффективность</b> <br /> Только лучшее - только <a href="https://plus.google.com/100159714955805703063" rel="publisher">Google !</a>.
            </p>
        </div>
    </section>
}
<h3>Наши предложения:</h3>
<ol class="round">
    <li class="one">
        <h5>С чего начать:</h5>
        Вы определяете концепцию рекламной акции и связываетесь с нами.
    </li>

    <li class="two">
        <h5>Создание рекламного контента</h5>
        Снимаем видео ролик, создаем сайт для рекламной акции.
    </li>

    <li class="three">
        <h5>Старт</h5>
        Стартуем рекламную акцию и анализируем статистику.
    </li>

    <li class="four">
        <h5>Корректировка</h5>
        Анализ статистики позволит корректировать стратегию.
    </li>

    <li class="five">
        <h5>Управление</h5>
        При необходимости можно преостанавливать рекламную акцию, <br />
        либо наоборот - активизировать активность, а по истечении <br />
        срока рекламной акции - создать новую, либо пролонгировать.
    </li>
</ol>
