@{
    ViewBag.Title = "Идея?..";
    
    <hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>


}

<section class="contact">
    <header>
        <h3>Анекдот</h3>
    </header>
    <p>
        Был такой бородатый анекдот про Леонида Ильича:<br>
        Выступление генсека на политбюро:<br>
        (ЛИ): - Иде..., - произносит Леонид Ильич по бумажке и запинается.<br>
        (Из секриториата): - Идея?<br>
        (ЛИ): - Иде...<br>
        (Из секриториата): - Идеология?<br>
        (ЛИ): - Не путайте меня, товарищи... Иде...<br>
        гробовая тишина в зале<br>
        (ЛИ): - И де я нахожусь?<br>
    </p>
    <p>
        Здесь мы планировали рассказать о способах оплаты, но рассказывать о них особенно нечего - все стандартно:
        <ul>
            <li>договор</li>
            <li>счет-фактура</li>
            <li>перечисление на банковский счет (Банк "Авангард")</li>
        </ul>
    </p>
    <p>
        Поэтому решили рассказать вам о том, как нас лучше узнать и об одном нашем сопутствующем необычном сервисе.
    </p>
</section>

<section class="contact">
    <header>
        <h3>Мозговой штурм "Идея!.."</h3>
    </header>
    <p>
        Есть множество вариантов при которых сервис может оказаться вам полезен:
        <ul>
            <li><b>Хотите узнать нас лучше</b> - полностью вас поддерживаем в этом начинании. Нам тоже интересно узнать о вас, кто вы, как нас нашли, почему именно мы и еонечно же самое главное - а по плечу ли нам эта работа? Давайте общаться - только так мы поймем друг друга и наверняка подружимся.</li>
            <li><b>В тупике</b> - это иногда случается. Множество рекламных агентств, все предлагают свой мегакреатив и только самый лучший, а вы просто устали, творческое начало покинуло вас и просто нет никаких мыслей. "КАК ЭТО РЕКЛАМИРОВАТЬ?!!" или "КАК ТАКОЕ ВООБЩЕ МОЖНО РЕКЛАМИРОВАТЬ?!!" или, даже так - "В ЧЕМ СМЫСЛ ЖИЗНИ?" </li>
            <li><b>"А что если..."</b> - вы активно выбираете, множество идей и вариантов и все хорошие. Скорее всего помощь придет от таргет группы, пусть люди сами выберут что им нравится!</li>
            <li><b>Вам грустно и одиноко</b> - с нами будет весело! ;)</li>
        </ul>
    </p>
    <p>Итак, ваши действия:</p>
    <ol class="round">
        <li class="one">
            <h5>Нужно связаться с нами</h5>
            Во вкладке Контакт вы найдете всю необходимую информацию. Звоните, пишите в любое время дня и ночи
        </li>

        <li class="two">
            <h5>Рассказать о себе</h5>
            Расскажите о себе, о чем бы вам хотелось поговорить, обсудить. Возможно, для обсуждения нам понадобится определенная группа людей, которую мы постараемся собрать. На время сборов мы берем небольшой тайм аут.
        </li>

        <li class="three">
            <h5>Создание учетной записи на Google</h5>
            Для того чтобы общаться мы используем сервис видеовстреч Google, собственно для этого вам и нужна учетная запись, а попросту - ящик на gmail.
        </li>

        <li class="four">
            <h5>Назначить встречу</h5>
            Мы сообщаем вам о количестве участников таргет группы и вы назначает встречу: время и продолжительность.
        </li>

        <li class="four">
            <h5>Обсуждение</h5>
            Мы общаемся, причем все общение протоколируется и вам не надо заботится о том, что вы что то забудете после обсуждения - всегда можно будет посмотреть видео отчет.
        </li>

        <li class="five">
            <h5>Подведение итогов</h5>
            Подводим итоги мозгового штурма и думаем что делать дальше.
        </li>

    </ol>

</section>

<section class="contact">
    <header>
        <h3>PayPal</h3>
    </header>
    <p>
        Стоимость услуги зависит от количества участников и их персонального времени, в каждом случае рассчитывется индивидуально, но мы планируем для определенности несколько вариантов:
        <ul>
            <li><b>По быстрому</b> - полчаса, один два собеседника</li>
            <li><b>Не по быстрому</b> - полчаса на вводную и два часа мозговой штурм, пять семь собеседников таргет группы </li>
            <li><b>До рассвета</b> - безлимит, пока задача не будет решена</li>
        </ul>
    </p>
    <p>
        Пока мы ждем подтверждения от PayPal описанный сервис АБСОЛЮТНО БЕСПЛАТНЫЙ!<br>
        <span><a href="https://www.paypal.com/ru/webapps/mpp/home">https://www.paypal.com/ru/webapps/mpp/home</a></span>
    </p>
</section>


